<div class="col-sm-4">
    <div class="card">
        <div class="card-header">
            <strong>Thống kê trong ngày</strong>
        </div>
        <div class="card-body card-block">
            <div class="form-group">
                <label class="form-control-label">Chọn ngày</label>
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                    <input class="form-control" type="date">
                    <button class="btn btn-primary">Chọn</button>
                </div>
            </div>
        </div>
    </div>