<div class="col-md-6">
    <div class="card">
        <div class="card-header">
            <strong>Masked Input</strong> <small> Small Text Mask</small>
        </div>
        <div class="card-body card-block">
            <div class="form-group">
                <label class=" form-control-label">Date input</label>
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                    <input class="form-control">
                </div>
                <small class="form-text text-muted">ex. 99/99/9999</small>
        </div>
    </div>
</div>