<div class="col-sm">
    <div class="card">
        <div class="card-header">
            <strong>{{title}}</strong>
        </div>
        <div class="card-body card-block">
            <form action="/brands/edit" id="form" method="post" enctype="multipart/form-data" class="form-horizontal">
                <div class="row form-group">
                    <div class="col col-md-3"><label for="disabled-input" class=" form-control-label">ID thương
                            hiệu</label></div>
                    <div class="col-12 col-md-9"><input type="text" id="disabled-input" name="brandID"
                            placeholder="Disabled" readonly value="{{brandInfo._id}}" class="form-control" /></div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="brand" class=" form-control-label">Thương hiệu</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input type="text" name="brand" value={{brandInfo.name}} id="brand"
                            class="form-control-lg form-control">
                        <small class="form-text text-muted">Nhập tên thương hiệu</small>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="brand-image" class=" form-control-label">Hình ảnh thương
                            hiệu</label></div>
                    <div class="col-12 col-md-9"><input type="file" accept="image/*" id="brand-image" name="brand-image"
                            multiple="" class="form-control-file"></div>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <button type="submit" form="form" class="btn btn-primary btn-sm">
                <i class="fa fa-save"></i> Lưu
            </button>
        </div>
    </div>
</div>